/*RESET*/
body, h1, h2, h3 figure {margin: 0;}
a{color: inherit;}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;

}

/*HEAD*/
.logo {
  width:100%;
  padding: 10x 0px;
  background-image: linear-gradient(to right,#832086, #A93747, #C83139);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5;
}

.logo img{
  margin-bottom: 10px;
}

.menu a{
  font-family: "Montserrat", sans-serif;
  margin-right: 40px;
  margin-left: 1px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  text-decoration: none;
  font-weight: 550;
}

.some{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
}

/*TEXTOGRANDE*/
.content{
  background-image: url('../imagens/Fotografia1.png');
  background-size: cover;
  height: 700px;
}
.content h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: #fff;
  font-size: 80px;
  margin-bottom: 30px;
  margin-left: 30px;
  text-align: left;
  line-height: 30px;
}

.content1{
  padding-top: 180px;
  padding-left: 40px;
}

.botao {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: 650;
  background-color: #762c8b;
  color: #fff;
  text-decoration: none;
  padding: 30px 55px;
  border-radius: 65px;
  margin-left: 1200px;
}

.botao:hover {
  background-color: #8e33a3; }

/*INFO*/
.info {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #832086;
  font-size: 20px;
  margin-top: 4%;
}

/*AREA2*/
.box {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 110px;
  padding: 60px;
  padding-top: 40px;
  background-color: #fff;
  margin-top: 2%;
  margin-bottom: 10%;
}

.box1 {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  border: 3px solid #AE3546;     
  border-radius: 25px;          
  padding: 30px 40px;
  width: 300px;
  background-color: #fff;
}

.título{
  margin-bottom: 25px;
}

.pontos li{
  text-align: left;
}

.box2 {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  border: 3px solid #AE3546;     
  border-radius: 25px;          
  padding: 30px 40px;
  width: 300px;
  background-color: #fff;
}

.título2{
  margin-bottom: 25px;
}

.pontos2 li{
  text-align: left;
}

/*AREA3*/
.incrição{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  background-image: linear-gradient(to right,#832086, #A93747, #C83139);
  display: flex;
  align-items: center;
  margin-bottom: 5;
}

.pergunta{
  margin-left: 40%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  justify-content: center;
  font-weight: 300;
}

.sub {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  text-align: center;
  color:#832086;
  margin-top: 2%;
  margin-bottom: 4%;
}

.win{
  width: 65%;
  margin: 0 auto;
  text-align: right;
}

.input-element{
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4%;
}

.form-group {
  display: flex;
  align-items: center;
  border: 2px solid #AE3546;
  border-radius: 8px;
  padding: 10px 15px;
  background: #fff;
}

.material-icons {
  font-size: 25px;
  color: #000;
  margin-right: 10px;
}

.form-group input{
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}


.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao2{
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 600;
  background-color: #762c8b;
  color: #fff;
  padding: 20px 35px;
  border-radius: 45px;
  margin-top: 30px; 
  margin-left: 400px; 
  border: none; 
  cursor: pointer;
  white-space: nowrap; 

}

.botao2:hover {
   background-color: #8e33a3; }

.form-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 80px;
  margin-top: 10px;
  margin-left: 160px;
  flex-wrap: wrap; 
}

.checkboxes {
  margin-top: 5px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

.checkboxes label {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
}

.checkboxes input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;}


/*AREA4*/
.opinions-section {
  margin-top: 10%;
  padding: 40px 60px;
  background-image: url('../imagens/Opiniões2.png');
  background-size: cover;
  height: 650px;
}

.opinions-section h2 {
  text-align: left;
  margin-top: 1%;
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

.opinions-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.opinion-card {
  background: #fff;
  border: 2px solid #AE3546; 
  border-radius: 15px;
  margin-top: 4%;
  width: 300px;
  padding: 25px;
  text-align: left;
}

.stars {
  color: #ffcc00; 
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.opinion-card p {
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
}

/*FOOTER*/
.footer {
  background-color: #832086; 
  color: white;
  padding: 15px 40px;
  font-size: 14px;

}

.footercontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* adapta em ecrãs pequenos */}

.footer p {
  margin: 0;}


